{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
			{% block content_title %}
			{% endblock content_title %}
		</title>

        {{ form.media.css }}
                
        {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
        {% endcompress %}
        
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />


    </head>

    <body class="bg-gray-50 mx-auto border-t-4 border-yellow-300 mt-2">  
        {% include "page/nav.html" %}
        
        <div class="container mx-auto pt-20 pb-4 sm:pt-18 ">
            
            {% block content %}
            {% endblock content %}
        </div>
   

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/datepicker.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {{ form.media.js }}

        <!--{% include "page/footer.html" %}-->
    </body>

</html>